@media (max-width: 68rem) {

	.nome {
		display: flex;
		align-self: center;
		margin-left: 22rem;
		font-size: 5rem;
		margin-right: 5rem;
		font-color: white;
	}

	.header {
		display: flex;
		background-color: #62c237;

	}

	.menu{
		width: 9rem;
		height: 9rem;
		object-fit: fill;
		display: flex;
		margin-right: 20%;
		align-self: center;	
		flex-direction: row-reverse;
		padding-right: 5pt;

	}

	.container_dia {
		display: block;
		background-color:#000000;
		border-radius: 0.8rem; 
		width: 19.5rems;
		color: #62c237;
		justify-content: center;
		margin-top: 5rem;
		margin-left: 5rem;
		margin-right: 5rem;

	}

	.dia {
		font-family: 'Merriweather', serif;
		display: flex;
		justify-content: center;
		font-size:100px; 
		color: #ffffff;
	}